@charset "utf-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  background-color: black;
  font-family: futura-pt, sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 30px 15px;
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 245px;
}
.timer {
  width: 100%;
}
.timer h1 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 500;
  font-size: 3.5rem;
  text-align: center;
}
#hundredths {
  font-size: 2rem;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.button {
  cursor: pointer;
  width: 46%;
  padding: 8px 0;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  outline: none;
}
.start-button {
    background-color: #4eb4e1;
}
.stop-button {
    background-color: grey;
}
.reset-button {
    background-color: firebrick;
}
@media screen and (max-width: 480px) {
  .box {
    width: 250px;
  }
  .timer h1 {
    font-size: 2.25rem;
  }
  #hundredths {
    font-size: 1.125rem
  }
}